* {
  box-sizing: border-box;
}

html {
  /* background-color: #ff5b5e; */
  background-image: url(../images/paw-background.png);
}

.main {
  margin: auto;
}

.form {
  margin-right: 10%;
  margin-left:10%;
  width: 80%;
  /* background: #FFDAE3; */
  /* background-image: url(../images/paw-background.png); */
}

h1 {
  color: white;
  font-size: 8em;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  margin-top: 30%;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

#m:hover, #e:hover, #o:hover, #w:hover, #icon:hover {
  color: #ff7676;
}
#navbar-header {
  font-size: 2.5em;
}

.first-button {
  margin: auto;
  display: block;
  color: white;
  background: #ff5b5e;
  border: 2px solid white;
  border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10%;
}

.first-button:hover {
  background: white;
  color: #ff5b5e;
  box-shadow: 8px 15px #C24547;
  padding-left: 25px;
  padding-right: 25px;
}

.first-button:focus {
  outline: 0;
  box-shadow: 2px 4px #C24547;
}

.continue {
  color: white;
}

.meow-link {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.8em;
}

.meow-link:link    { color: white;
            background-color: transparent;
            text-decoration: none;}
.meow-link:visited { color: white;
            background-color: transparent;
            text-decoration: none;}
.meow-link:hover   { color: white;
            background-color: transparent;
            text-decoration: underline;}
.meow-link:active  { color: white;
            background-color: transparent;
          text-decoration: none;}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: dimgray;
}

h3 {
  color: dimgray;
}

.add-a-cat {
  color: #ff5b5e;
  font-size: 6em;
}

.create-cat-profile {
  font-size: 1.3em;
  padding: 25px;
  margin: auto;
  display: block;
  color: white;
  background: #ff5b5e;
  border: 2px solid white;
  border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10%;
}
.create-cat-profile:hover {
  background-color: #ff5b5e;
  color: white;
  padding: 30px;
  box-shadow: none;
}

.person-info {
  margin-top: 30px;
}



label {
  color: dimgray;
}

.navbar {
  background-color: #c24547;
  border-color: #ff686c;
  min-height: 70px;
}

nav a {
  color: white;
}

.navbar-brand {
  font-size: 3em;
  font-family: 'Gochi Hand', cursive;
}

.navbar-brand:hover {
  font-size: 1.5em;
}

nav li a:hover {
  background-color: #ff686c;
  color: white;
  font-size: 1.2em;
}
nav a:hover {
  color: white;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.active {
  background-color: #ff686c;
}

.navbar .brand, .navbar .nav > li > a:hover {
    color: #ff686c;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #ff686c;
    color: #ff686c;
}



@media screen and (min-width: 991px) {
  h1 {
    margin-top: 15%;
  }
  h2 {
    font-size: 2em;
  }
  .add-a-cat {
    font-size: 7em;
  }
}
