* {
  box-sizing: border-box;
}

html {
  /* background-color: #ff5b5e; */
  background-image: url(../images/paw-background.png);
  background-repeat: repeat;
}

.main {
  margin: auto;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

form {
  margin: 10%;
  width: 80%;
  background: white;
  border-radius: 10px;
  border: 2px solid #c24547;
  padding: 10%;
}

h1 {
  color: white;
  font-size: 8em;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  margin-top: 30%;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

#m:hover, #e:hover, #o:hover, #w:hover, #icon:hover {
  color: #ff7676;
}
#navbar-header {
  font-size: 2.5em;
}

.first-button {
  margin: auto;
  display: block;
  color: white;
  background: #ff5b5e;
  border: 2px solid white;
  border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10%;
}

.first-button:hover {
  background: white;
  color: #ff5b5e;
  box-shadow: 8px 15px #C24547;
  padding-left: 25px;
  padding-right: 25px;
}

.first-button:focus {
  outline: 0;
  box-shadow: 2px 4px #C24547;
}

.continue {
  color: white;
}

.meow-link {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.8em;
}

.meow-link:link    { color: white;
            background-color: transparent;
            text-decoration: none;}
.meow-link:visited { color: white;
            background-color: transparent;
            text-decoration: none;}
.meow-link:hover   { color: white;
            background-color: transparent;
            text-decoration: underline;}
.meow-link:active  { color: white;
            background-color: transparent;
          text-decoration: none;}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: dimgray;
}

h3, h4 {
  color: dimgray;
  font-family: 'Open Sans', sans-serif;
}

.add-a-cat {
  color: #ff5b5e;
  font-size: 6em;
  margin-top: 15px;
}

.create-cat-profile, .create-user-profile {
  font-size: 1.3em;
  padding: 25px;
  margin: auto;
  display: block;
  color: white;
  background: #ff5b5e;
  border: 2px solid white;
  border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10%;
}
.create-cat-profile:hover, .create-user-proflie:hover {
  background-color: #ff5b5e;
  color: white;
  padding: 30px;
  box-shadow: none;
}

.person-info {
  margin-top: 30px;
}

.email {
  color: #5F7DFF;
  margin-top: 5px;
}

label {
  color: dimgray;
}

.navbar {
  background-color: #c24547;
  border-color: #ff686c;
  z-index: 100;
}

nav a {
  color: white;
}

.navbar-brand {
  font-size: 2em;
  font-family: 'Gochi Hand', cursive;
}

.navbar-brand:hover {
  font-size: 2.1em;
}

nav li a:hover {
  background-color: #ff686c;
  color: white;
  font-size: 1.2em;
}
nav a:hover {
  color: white;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.active {
  background-color: #ff686c;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #ff686c;
}

/* cat boxes */
.cats {
  width: 100%;
  margin: auto;
  background-image: url(../images/paw-background.png);
  padding: 50px;
  position: absolute;
  bottom: 0;
  height: 100%;
}

.form-container {
  display: flex;
  width: 100%;
  margin: auto;
  background-image: url(../images/paw-background.png);
  padding: 40px;
  margin-top: -20px;
}

.cat-box {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: flex-wrap;
  justify-content: space-around;
}

.cat-boxes {
  display: inline-block;
  margin: 5px;
  background: white;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid #c24547;
  height: 338px;
  overflow: auto;
}

.cat-boxes p {
  text-align: left;
  font-size: .8em;
}

.cat-profile-pic {
  width: 100%;
  height: 220px;
}

.profile-pic {
  height: 150px;
  margin: auto;
  border-radius: 100%;
  border: 2px solid #c24547;
  margin-top: -20px;
  margin-bottom: -20px;
  float: middle;
}

.owner-pic {
  width: 80px
}

#owner img {
  width: 80px;
  height: 80px;
}

.glyphicon {
    font-size: 30px;
}

.delete-button {
  display: block;
  margin: auto;
  margin-top: 10px;
  color: white;
  background: #ff5b5e;
  border: 2px solid #c24547;
  border-radius: 25%;
  padding: 5px;
}

.delete-button:hover {
  font-size: 1.2em;
}

#cross {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 10px;
}

#heart {
  display: inline-block;
  margin-left: 60px;
}

#cross:hover, #heart:hover {
  color: #c24547;
}

.glyphicon:focus {
  font-size: 50px;
}

#greeting h2 {
  color: white;
}

#greeting {
  width: 100%;
  padding: 100px;
}

.profile {
  margin: auto;
}

.meow-greeting {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.6em;
}

.x-icon {
  margin-bottom: 10px;
}

.background {
  background-image: url(../images/paw-background.png);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

/* @media screen and (max-width: 820px) {
  .cat-boxes {
    margin: 10px;
  }
} */

@media screen and (max-width: 645px) {
  .cat-boxes {
    display: block;
    margin: auto;
  }

  .cat-box {
    margin-top: 250px;
    width: 100%;
    padding: 5%;
  }

  .cats {
    padding: 0;
  }
}
